*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("assets/back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;

}

a {
  text-decoration: none !important;
}

#app {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}

.marker {
  position: absolute;
  width: 60px;
  left: 172px;
  top: -20px;
  z-index: 2;
}

.wheel {
  width: 100%;
  height: 100%;
}

@keyframes rotate {
  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.button {
  display: block;
  width: 250px;
  margin: 10px auto;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.blur {
  animation: blur 10s;
}

@keyframes blur {
  0% {
    filter: blur(1.5px);
  }
  80% {
    filter: blur(1.5px);
  }
  100% {
    filter: blur(0px);
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 180px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-1 {
  background-color: #fefefe;
  background-image: url("assets/tablet/Pop-up\ 1_new.webp");
  background-size: cover;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 380px;
  min-height: 468px;
  border-radius: 32px;
}

.modal-content-2 {
  background-color: #fefefe;
  background-image: url("assets/tablet/Pop-up-2_new.webp");
  background-size: cover;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 380px;
  min-height: 468px;
  border-radius: 32px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#gimmick {
  display: block;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  z-index: 9999;
}

.main-image {
  z-index: 9999;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width:100vw;
  margin-top:-65px;
 
}

.modal-text-p {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 201px;
  }
  

.modal-text-p-II {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 179px;
  }

.modal-text-p1

{
  font-family: Roboto;
font-size: 32px;
font-style: italic;
font-weight: 900;
line-height: 38px;
letter-spacing: 0em;
text-align: center;

  
}

.modal-text-p2
{
  font-family: Roboto;
  font-size: 32px;
  font-style: italic;
  font-weight: 900;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;

}

.modal-text-2 {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}

.button-register {
  height: 72px;
  width: 267px;
  display: flex;
  justify-content: center;
}





@media only screen and (max-width:1366px) {

.main-image
{
    justify-content: center;
}


}

@media only screen and (min-width:2200px) {
  

  .main-image{
    padding-top:7vh;
    margin-top: -5px;

 
  }

  body{
      overflow-x:scroll;
  };
  


  
#app 
{
  width:600px;
  height:600px;
  
}

.marker {
  position: absolute;
  width: 60px;
  left:45%;
  top: -20px;
  z-index: 2;
}


}
